<% @websites.each do |site| %>
  <%= div_for site do %>
    <h2 class="page-header"><%= site.owner %>'s Website</h2>
    <%= link_to(image_tag("/img/#{site.id}.png", alt: "#{site.owner}'s Site"), site) %>
  <% end %>
<% end %>
